.form {
    margin-top: 15%;
    
}

.car-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 30ch;
    width: 80%;
    position: relative;
    border-radius: 3px;
    margin-left: 10%;
}

.input-box {
    font-weight: bold;
    font-size: 20px;
}

.input-box p {
    margin-left: 10%;
    float: left;
}

.input-box input {
    height: 37px;
    width: 80%;
}

.input-box select {
    height: 40px;
    width: 80%;
}

.button-div {
    margin-top: 60px;
}

.button-div button {
    width: 80%;
}

.icon {
    color: red;
}